body{

    background-color: #1b0c2c;
    color: #ffff;
}

.container{

    text-align: center;
    padding: 30px;

}
.hp{

   width: 450px; 
   border-radius: 35px;
   
}

.title{

    font-family: "Satisfy", cursive;
}